.nav-container {
  grid-column: 1 / span 12; /* Span across full width of the grid */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: white; /* Match your design */
  position: sticky;
  margin: 0% 30% 0% 30%;
  top: 0;
  z-index: 10; /* Stay on top while scrolling */
}

@media (max-width: 768px) {
  .nav-container {
    padding: 0 5% 0% 5%;
    margin: 0% 10% 0% 10%;
  }
}

.logo-image {
  width: 100px;
  height: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10%;
  font-family: "manrope";
}
